* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* padding: 10rem; */
  line-height: 1.8;
  background-color: khaki;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: rgb(49, 49, 49);
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.head {
  width: 100%;
  background: linear-gradient(to bottom, rgb(148, 148, 148), khaki);
  height: 20rem;
}

.title {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.title h1 {
  text-align: left;
}

section {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

section div {
  width: 60vw;
  margin: 1rem;
  padding: 1rem;
  padding-left: 2rem;
  border: 1px solid rgba(255, 253, 233, 0.712);
  background: linear-gradient(
    to right top,
    rgb(255, 248, 187),
    rgb(253, 250, 218)
  );
  box-shadow: 3px 3px 10px rgba(250, 240, 154, 0.2);
  border-radius: 0.5rem;
  padding-top: 20px;
}

input[type="number"] {
  background: rgb(255, 255, 255);
  border-radius: 0.3rem;
  border: 1px solid rgba(255, 253, 233, 0.712);
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
}

select {
  background: rgb(255, 255, 255);
  border-radius: 0.3rem;
  border: 1px solid rgba(255, 253, 233, 0.712);
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
}

.submit {
  padding-left: 0px;
  background: none;
  border: none;
  box-shadow: none;
}

input[type="submit"],
input[type="reset"] {
  background: linear-gradient(
    to right top,
    rgb(252, 245, 180),
    rgb(255, 251, 206)
  );
  box-shadow: 3px 3px 10px rgba(250, 240, 154, 0.2);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 253, 233, 0.712);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background: linear-gradient(
    to right top,
    rgb(255, 250, 201),
    rgb(253, 251, 224)
  );
}
.bottom {
  width: 100%;
  background: linear-gradient(to top, rgb(148, 148, 148), khaki);
  height: 10rem;
}
