* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* padding: 10rem; */
  line-height: 1.8;
  background-color: rgb(241, 241, 241);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: rgb(48, 1, 92);
}

.head {
  padding-top: 1rem;
  width: 60%;
  font-weight: bold;
  font-size: 2rem;
  color: rgb(189, 189, 189);
  text-align: center;
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.title {
  position: relative;
  text-align: center;
  /* color: white; */
  padding-top: 2rem;
  /* padding-bottom: 3rem; */
}

.title h1 {
  /* text-align: left; */
  position: absolute;
  bottom: 7rem;
  left: 0px;
  color: rgb(48, 1, 92);
}

.title img {
  width: 60%;
  height: auto;
}

section {
  width: 60vw;
  margin: 1rem;
  padding: 1rem;
  padding-left: 2rem;
  border: 2px solid rgba(25, 2, 46, 0.651);
  background: rgb(241, 241, 241);
  border-radius: 0.5rem;
  padding-top: 20px;
  display: flex;
  margin-bottom: 5rem;
}

.secleft {
  text-align: right;
  flex: 3;
}

.secright {
  padding-left: 2rem;
  color: rgb(214, 37, 81);
  flex: 2;
}

.back {
  margin-top: 1rem;
  margin-left: 12%;
  align-self: baseline;
  /* width: 10rem; */
  /* position: static; */
  background: rgb(247, 220, 185);
  /* box-shadow: 3px 3px 10px rgba(250, 240, 154, 0.2); */
  border-radius: 0.5rem;
  border: 0px solid rgba(255, 253, 233, 0.712);
  text-decoration: none;
  padding: 16px;
  margin-bottom: 2rem;
}

.back:hover {
  background: rgb(252, 230, 201);
}

.back-btn {
  font-weight: 700;
  display: block;
  color: rgb(49, 49, 49);
  /* padding-left: 1rem; */
  /* padding: 2rem; */
  text-decoration: none;
  cursor: pointer;
}

.bottom {
  width: 60%;
  margin-top: 3rem;
  /* background: rgb(241, 241, 241); */
  height: 5rem;
}

.line {
  height: 2px;
  background-color: rgba(48, 1, 92, 0.479);
}
.bottom p {
  padding-top: 1rem;
  font-weight: normal;
}
