* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* padding: 10rem; */
  line-height: 1.8;
  background-color: rgb(241, 241, 241);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: rgb(48, 1, 92);
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.head {
  padding-top: 1rem;
  width: 60%;
  font-weight: bold;
  font-size: 2rem;
  color: rgb(189, 189, 189);
  text-align: center;
}

.title {
  position: relative;
  text-align: center;
  /* color: white; */
  padding-top: 2rem;
  /* padding-bottom: 3rem; */
}

.title h1 {
  /* text-align: left; */
  position: absolute;
  bottom: 7rem;
  left: 0px;
  color: rgb(48, 1, 92);
}

.title img {
  width: 60%;
  height: auto;
}

section {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

section div {
  width: 60vw;
  margin: 1rem;
  padding: 1rem;
  padding-left: 2rem;
  border: 2px solid rgba(25, 2, 46, 0.651);
  background: rgb(241, 241, 241);
  /* box-shadow: 3px 3px 10px rgba(250, 240, 154, 0.2); */
  border-radius: 0.5rem;
  padding-top: 20px;
}

input[type="number"] {
  background: rgb(249, 249, 249);
  border-radius: 0.3rem;
  border: 1px solid rgb(231, 203, 167);
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
}

select {
  background: rgb(249, 249, 249);
  border-radius: 0.3rem;
  border: 1px solid rgb(231, 203, 167);
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
}

.submit {
  padding-left: 0px;
  background: none;
  border: none;
  box-shadow: none;
}

input[type="submit"],
input[type="reset"] {
  background: rgb(247, 220, 185);
  /* box-shadow: 3px 3px 10px rgba(250, 240, 154, 0.2); */
  border-radius: 0.5rem;
  border: 0px solid rgba(255, 253, 233, 0.712);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background: rgb(252, 230, 201);
}

input[type="radio"] {
  /* background: rgb(249, 249, 249);
  border-radius: 0.3rem;
  border: 1px solid rgb(231, 203, 167); */
  /* padding: 16px 32px; */
  margin: 4px 10px;
  /* cursor: pointer; */
}

.preg {
  display: none;
}

.bottom {
  width: 60%;
  margin-top: 3rem;
  /* background: rgb(241, 241, 241); */
  height: 5rem;
}

.line {
  height: 2px;
  background-color: rgba(48, 1, 92, 0.479);
}
.bottom p {
  padding-top: 1rem;
  font-weight: normal;
}
