* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl; /* Right to Left */
}

body {
  /* padding: 10rem; */
  line-height: 1.8;
  /* background-image: linear-gradient(
    102.1deg,
    rgba(96, 221, 142, 1) 8.7%,
    rgba(24, 138, 141, 1) 88.1%
  ); */
  background-color: rgb(255, 255, 255);
  font-family: "Almarai", sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: rgb(52, 51, 72);
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.head {
  padding-top: 1rem;
  width: 60%;
  font-weight: bold;
  font-size: 2rem;
  color: rgb(52, 51, 72);
  text-align: center;
  margin-bottom: 2rem;
}

.title2 {
  width: 60vw;
  position: relative;
  text-align: center;
  /* color: white; */
  padding-top: 2rem;
  /* padding-bottom: 3rem; */
}

.title {
  width: 60vw;
  padding-top: 1rem;
  font-size: 2rem;
}

section {
  width: 60vw;
  margin: 1rem;
  padding: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
  border: 1px solid rgba(187, 187, 187, 0.651);
  background: rgb(52, 51, 72);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 0.5rem;
  padding-top: 20px;
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column;
}

.secleft {
  /* padding-left: 2rem; */
  text-align: right;
  /* flex: 3; */
  color: white;
}

.secright {
  /* padding-top: 2rem; */
  text-align: center;
  color: rgb(0, 255, 255);
}

.red {
  color: rgb(214, 37, 81);
}

.proba {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* align-content: center; */
  justify-content: center;
}

.feedd {
  width: 60vw;
  padding: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
  border: 1px solid rgba(187, 187, 187, 0.651);
  background: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 0.5rem;
  padding-top: 20px;
  margin-bottom: 2rem;
}

.feedd label {
  font-size: 1.5rem;
  font-weight: bold;
}

input[type="submit"] {
  background: none;
  /* box-shadow: 3px 3px 10px rgba(250, 240, 154, 0.2); */
  border-radius: 0.5rem;
  border: 1px solid rgb(52, 51, 72);
  color: rgb(52, 51, 72);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: rgba(25, 2, 46, 0.05) 0px 4px 16px,
    rgba(25, 2, 46, 0.05) 0px 8px 32px;
  font-family: "Almarai", sans-serif;
}

input[type="submit"]:hover {
  color: white;
  background-color: rgb(52, 51, 72);
}

input[type="radio"] {
  margin: 4px 10px;
  margin-bottom: 1rem;
}

.buttons {
  width: 60vw;
  display: flex;
}

.back {
  margin-top: 1rem;
  margin-right: 12%;
  align-self: baseline;
  /* width: 10rem; */
  /* position: static; */
  background: none;
  /* box-shadow: 3px 3px 10px rgba(250, 240, 154, 0.2); */
  border-radius: 0.5rem;
  border: 1px solid rgb(52, 51, 72);
  color: rgb(52, 51, 72);
  box-shadow: rgba(25, 2, 46, 0.05) 0px 4px 16px,
    rgba(25, 2, 46, 0.05) 0px 8px 32px;
  text-decoration: none;
  padding: 16px;
  margin-bottom: 2rem;
}

.back:hover {
  color: white;
  background-color: rgb(52, 51, 72);
}

.back-btn {
  font-weight: 700;
  display: block;
  color: inherit;
  /* padding-left: 1rem; */
  /* padding: 2rem; */
  text-decoration: none;
  cursor: pointer;
}

/* .back-btn:hover {
  color: white;
} */

.bottom {
  width: 60%;
  margin-top: 3rem;
  /* background: rgb(241, 241, 241); */
  height: 5rem;
}

.line {
  height: 1px;
  background-color: rgb(52, 51, 72);
}
.bottom p {
  padding-top: 1rem;
  font-weight: normal;
}
