{% extends "diabetes/layout.html" %} 
{% load static %}
{% block head %}
<title>
      Machine Learning Model to Diabetes Diagnosis Based on Health Behaviors
</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<script src="{% static 'js\script.js' %}"></script>{% endblock %}
{% block body %}
<div class="lan">
    <a href="{% url 'index' %}">English</a>
    <a href="{% url 'index_ar' %}">العربية</a>
    <a href="{% url 'index_tr' %}">Türkçe</a>
</div>  
<div class="head">Machine Learning Model to predict Diabetes</div>
<main>
  <div class="title">
    <h1>Answer the Following</h1>
    <img src="{% static 'imgs\form.svg' %}" class="imghead">
  </div>
  <section class="dataform">
    <form action="{% url 'result' %}" method="POST">
      {% csrf_token %}
      <div class="age">
        <label for="age1">Enter Your Age:</label><br />
        <input type="number" min="18" name="age1" placeholder="Age" value="18" />
      </div>
       <div class="gender">
        <label for="yes_no_radio">Gender :   </label>
        <input type="radio" id="gender1" name="gender1" value="0" checked onchange ="genderSel()">Male</input>
        <input type="radio" id="gender2" name="gender1" value="1" onchange ="genderSel()">Female</input>
      </div>
      <div class="race">
        <label for="race1">Race:</label><br />
        <select name="race1">
        <option value="1">Mexican American</option>
        <option value="2">Other Hispanic</option>
        <option value="3">Non-Hispanic White</option>
        <option value="4">Non-Hispanic Black</option>
        <option value="5">Other Race - Including Multi-Racial</option>
        </select>
      </div>
      <div class="marital">
        <label for="marital1">Marital Status:</label><br />
        <select name="marital1">
        <option value="1">Married</option>
        <option value="2">Widowed</option>
        <option value="3">Divorced</option>
        <option value="4">Separated</option>
        <option value="5">Never married</option>
        <option value="6">Living with partner</option>
        <option value="7">Serious relationship</option>
        </select>
      </div>
      <div class="edu">
        <label for="edu1">Education Level:</label><br />
        <select name="edu1">
        <option value="1">Less than 9th grade</option>
        <option value="2">9­-11th grade (Includes 12th grade with no diploma)</option>
        <option value="3">High school graduate/GED or equivalent</option>
        <option value="4">Some college or AA degree</option>
        <option value="5">College graduate or above</option>
        </select>
      </div>
      <div class="smoking">
        <label for="smoking1">Smoking Status:</label><br />
        <select name="smoking1">
        <option value="1">Heavy current smoker</option>
        <option value="2">Light current smoker</option>
        <option value="3">Former smoker</option>
        <option value="3">Not a smoker</option>
        </select>
      </div>
      <div class="weight">
        <label for="weight1">Enter Your weight (Kg):</label><br />
        <input type="number" min="40" name="weight1" placeholder="Height" value="40"/>
      </div>
      <div class="height">
        <label for="height1">Enter Your Height (cm):</label><br />
        <input type="number" min="140" name="height1" placeholder="Height" value="140"/>
      </div>
      <div class="workout">
        <label for="workout1"
          >How many minutes do you spend in workouts per week:</label
        ><br />
        <input
          type="number"
          name="workout1"
          min="0"
          placeholder="Workouts minutes per week"
          value="0"
        />
      </div>
      <div class="preg" id="preg">
        <label for="yes_no_radio">Are you pregnant?</label>
        <p>
        <input type="radio" id="preg1" name="preg1" value="1">Yes</input>
        <input type="radio" id="preg1" name="preg1" value="2" checked>No</input>
        </p>
      </div>
      <div class="alcohol">
        <label for="yes_no_radio">Do you consume any alcoholic beverages regularly?</label>
        <p>
        <input type="radio" name="alcoho1" value="1">Yes</input>
        <input type="radio" name="alcoho1" value="0" checked>No</input>
        </p>
      </div>
      <div class="bp">
        <label for="yes_no_radio">Do you have Hypertension (Blood pressure)?</label>
        <p>
        <input type="radio" name="bp1" value="1">Yes</input>
        <input type="radio" name="bp1" value="0" checked>No</input>
        </p>
      </div>
      <div class="chol">
        <label for="yes_no_radio">Is your Cholesterol consumption above the recommended?</label>
        <p>
        <input type="radio" name="chol1" value="1">Yes</input>
        <input type="radio" name="chol1" value="0" checked>No</input>
        </p>
      </div>
      <div class="suger">
        <label for="yes_no_radio">Is your Sugar consumption above the recommended?</label>
        <p>
        <input type="radio" name="suger1" value="1">Yes</input>
        <input type="radio" name="suger1" value="0" checked>No</input>
        </p>
      </div>
      <div class="fat">
        <label for="yes_no_radio">Is your fat consumption above the recommended?</label>
        <p>
        <input type="radio" name="fat1" value="1">Yes</input>
        <input type="radio" name="fat1" value="0" checked>No</input>
        </p>
      </div>
      <!-- <div class="submit">
        <button>Submit</button>
      </div> -->
      <div class="submit">
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
      </div>
    </form>
  </section>
</main>
<div class="bottom">
  <div class="line"></div>
  <p>
    Developed by <a href="http://haithamalshari.github.io/">Haithm Alshari</a>.
    All rights reserved.
  </p>
</div>
{% endblock %}
