<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Machine Learning Model to Diabetes Diagnosis Based on Health Behaviors
    </title>
  </head>
  <body>
    <main>
      <div class="head">Welcome...</div>
      <form action="" method="POST">
        <div class="age">
          <input type="text" placeholder="Age" />
        </div>
        <div class="height">
          <input type="text" placeholder="Height" />
        </div>
        <div class="workout">
          <input type="text" placeholder="Workouts minutes per week" />
        </div>
      </form>
    </main>
  </body>
</html>
